body {
  width: 100%;
  height: 100vh;
  display: flex;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: fit-content;
  padding-top: 30px;
  margin-bottom: 30px;
}
